.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}

/* text on terminal */

.textOnTerminal {
  color: white;
  font-size: 14px;
}

/* Msg type color coded */
.color-log {
  color: blanchedalmond;
}
